[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Gavin-L
[access "refs/for/refs/*"]
	read = group user/Gavin-L
	push = group user/Gavin-L
	label-Code-Review = -2..+2 group user/Gavin-L
	label-Verified = -1..+1 group user/Gavin-L
	rebase = group user/Gavin-L
	removeReviewer = group user/Gavin-L
	submit = group user/Gavin-L
[access "refs/heads/*"]
	read = group user/Gavin-L
	create = group user/Gavin-L
	push = +force group user/Gavin-L
	pushMerge = group user/Gavin-L
[access "refs/tags/*"]
	push = +force group user/Gavin-L
	pushTag = group user/Gavin-L
	pushSignedTag = group user/Gavin-L
